.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-info-container {
    width: 80%;
}

.form-info-input {
    padding-bottom: 3%;
}

.form-input-text {
    width: 60%;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.form-input {
    border-radius: 10px;
    text-align: center;
    width: 60%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.form-label {
    padding-top: 3%;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    border-radius: 10px;
}

.form-button:hover{
    background-color: lightgray;
}

.misc-text{
    text-align: center;
    padding-top: 2%;
    font-family: fantasy;
}

.image-container {
    width: 60%;
    height: 200px;
    margin: 10px auto;
    border: 1px solid #e1e1e1;
    overflow: hidden;
    border-radius: 4px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;

}

