.form-container {
    // border: 2px solid violet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-info-container {
    // border: 2px solid blue;
    width: 80%;
}

.form-info-input {
    // border: 2px solid black;
    padding-bottom: 3%;
}

.form-input-text {
    // border: 2px solid red;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.form-input {
    // border: 2px solid yellow;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.form-label {
    padding-top: 3%;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    border-radius: 10px;
}

.form-button:hover{
    background-color: lightgray;
}

.misc-text{
    text-align: center;
    padding-top: 2%;
    font-family: fantasy;
}