
@media screen and (max-width: 768px) {
    /* Styles for screens smaller than 768px */
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    /* Styles for screens between 769px and 1200px */
}



.fullbleed-header {
    width: 100%;
        background-color: #f6f6f6;
        position: relative;
        background-image: url('eventbrite.jpeg');
        background-size: contain;
        background-repeat: no-repeat;
}

.eds-layout {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
    box-sizing: border-box;
}

.eds-layout-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 20px;
}

.home-headertag,
.svg-headertag {
    fill: #fff;
    width: 33%;
    max-width: 600px;
    margin-right: 90%;
    margin-top: 2%;
}


.feed-fullbleed-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-pic-button {
    padding: 10px 20px;
    border: none;
    background-color: #d1410c;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #005a8c;
    }
}



.banner {
    background-color: #fff;
    margin-left: 15px;
    padding-left: 20px;
    // padding: 15px 0;
    align-items: flex-start;
    border-radius: 4px;
    border-top: 1px solid #e5e5e5;
    border-left: 4px solid #f05537;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.banner-header {
    // margin-top: 20px;
    border-color: #f05537;
    font-weight: 700;
    // margin-bottom: 8px;
    padding: 10px;

}

.banner-text{
    padding: 10px;
}

.home-index-container {
    padding: 10px;
}

.text-location h2 {
    font-weight: bold;
}

.tabs-container {
    margin-top: 20px;
}


.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.carousel-header {
    margin-top: 30px;
}

.carousel-title {
    font-weight: bold;
}


.location-container {
        margin-top: 20px;
    display: flex;
    align-items: center;
        padding-left: 50px;
}



.text-location {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: .5px;
    line-height: 40px;
}

.location {
    display: flex;
    align-items: center;
    padding-left: 15px;

}
.location>select {
    color: blue;
    font-size: 30px;
        font-weight: 900;
        letter-spacing: .5px;
        line-height: 40px;
}
.tabs-container {
        margin-top: 20px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}


.tabs-events{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    cursor: pointer;
}

.tabs-events>li {
    display: inline;
    align-items: center;
    list-style-type: none;
    margin: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15;
    font-weight: 500;
    color: gray;
    white-space: nowrap;
}



li:hover {
    cursor: pointer;
}

.interactive {
    color: blue;
    border-bottom: 2px solid blue;
}

.tile-group {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 40px;
    margin-right: 40px;
    grid-gap: 10px;
    padding: 10px;
}

.tile-group>a {
    background-color: rgb(231, 231, 231);
    text-align: center;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;

}

.category-title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.25px;
    margin-left:50px;
}

.carousel-title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.25px;
    margin-left: 50px;
}

.carousel-body {
    color: #6f7287;
    margin-top: 10px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.25px;
    margin-left: 50px;
}

eds-vector-image--ui-orange svg path {
    fill: #f65332 !important;
}

.icons {
    color: #f05537;
    background-color: rgb(231, 231, 231);
        // text-align: center;
        padding: 10px;
        font-size: 20px;
        text-decoration: none;
}

.text{
    display: inline-flex;
    // text-align: center;
    padding-left: 35px;
}
